.navbar {
  background-color: red;
  padding: 0.5rem;
}

.navbarNav {
  background-color: blue;
  padding: 0.5rem;
}

.navbarListItems {
  background-color: yellow;
  padding: 0.5rem;
}

.navbarListItem {
  background-color: rgb(244, 160, 244);
  padding: 0.5rem;
}

.navbarListItemName {
  color: aqua;
}

.navbarListItemNameActive {
  color: rgb(255, 0, 217);
}
