@use "../abstracts" as *;
@debug $colors;

.navbar {
  padding: 0.5rem;
  // background-color: red;
}

.navbarNav {
  padding: 4rem;
  // background-color: blue;
}

.navbarListItems {
  padding: 0.5rem;
  // background-color: rgb(255, 0, 0);
}

.navbarListItem {
  padding: 0.5rem;
  // background-color: rgb(244, 160, 244);
}

.navbarListItemName {
  color: aqua;
}

.navbarListItemNameActive {
  padding: 0.5rem;
  background-color: aqua;
  color: rgb(255, 0, 217);
}

.logo {
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.77);
  list-style: none;

  // @supports (backdrop-filter: blur(1rem)) {
  //   background-color: rgba(0, 0, 0, 0.5);
  //   backdrop-filter: blur(1rem);
  // }
  @media (min-width: 40em) and (max-width: 65em) {
    background-color: orange;
    button > span[aria-hidden] {
      display: none;
    }
  }

  @media (min-width: 40em) {
    gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 15vw, 10rem);
  }

  @include maxq(small) {
    position: fixed;
    z-index: 1000;
    flex-direction: column;
    gap: 2rem;
    padding: min(20vh, 10rem) 2em;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  // @include mq(medium) {
  //   background-color: fuchsia;
  //   padding: 2em;
  // }
  // @include mq(large) {
  //   background-color: orchid;
  //   padding: 3em;
  // }
}

.primary-navigation[data-visible="true"] {
  @include maxq(small) {
    transform: translateX(0%);
  }
}

.open {
  background-color: darkgoldenrod;
  // transform: translateX(0%);
  transition: all 350ms ease-out;
}

.close {
  background-color: rgb(11, 164, 184);
  // transform: translateX(100%);
  transition: all 350ms ease-out;
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  // width: 3rem;
  padding: 0.1rem 0.5rem;
  background-color: red;
  aspect-ratio: 1;
  border: none;
  z-index: 9999;
  @include mq(small) {
    display: none;
  }
}

.mobile-nav-toggle[aria-expanded="true"] {
  background: green;
}

.primary-navigation {
  text-decoration: none;
}

.primary-navigation [aria-hidden="true"] {
  font-weight: bold;
  font-size: 2rem;
  margin-inline-end: 0.2em;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

// .hamburger {
//   background-color: green;
//   &:hover {
//     background-color: rgb(152, 255, 152);
//     .line-one {
//       animation: line-grow ease-out 500ms;
//     }
//     .line-two {
//       animation: line-grow ease-out 300ms;
//     }
//     .line-three {
//       animation: line-grow ease-out 500ms;
//     }
//   }
// }

// .hamburger:hover .line-one,
// .hamburger:hover .line-two,
// .hamburger:hover .line-three {
//   animation: line-grow ease-out 500ms;
// }

// @keyframes line-grow {
//   0% {
//     transform: scaleX(1);
//   }
//   50% {
//     transform: scaleX(1.5);
//   }
//   100% {
//     transform: scaleX(1);
//   }
// }

.test {
  width: 80px;
}
