.progress {
  background-color: #d8d8d8;
  position: relative;
  height: 3px;
  width: 100%;
}

.progress-done {
  background: rgb(113, 182, 255);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 1;
  transition: 0.8s ease 0.3s;
}
